/* standard values */
$headercolor: #AAF0C1;

.header {
    background-color:$headercolor;
}

.logo {
    height: 3em;
}

$headerspacing: 1em;
.child-spacing li {
    margin-left: $headerspacing;
    margin-right: $headerspacing;
}

body {
    background-image: url("/images/web-assets/stylized_bg.png");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: 120vw;
    background-position: center;

}