.json-output {
    float: right;
    width: 20%;
    position: absolute;
    right: 0px;
    top: 0px;
}

.json-output > output {
    overflow: auto;
    overflow-y: scroll;
    white-space: pre;
    font-family: monospace;
    width: 100%;
    font-size: .75em;
}

button:focus{
    background-color: aquamarine;
}

input[type=text]{
    width:10em;
}
input[type=text].wider {
    width:25em;
}

.copy-button {
    width:100%
}